addict==2.1.1
adium-theme-ubuntu==0.3.4
amqp==2.2.0
ansi2html==1.2.0
anyjson==0.3.3
apiclient==1.0.3
attrs==15.2.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.4.1
billiard==3.5.0.2
bleach==2.0.0
blinker==1.4
boto==2.48.0
boto3==1.3.1
botocore==1.4.93
branca==0.2.0
celery==4.0.2
certifi==2017.4.17
cffi==1.6.0
chardet==2.3.0
click==3.3
colorama==0.3.7
command-not-found==0.3
configparser==3.5.0
contextlib2==0.5.3
corkscrew==0.121
cryptography==1.4
cycler==0.10.0
Cython==0.26
debtags==2.0
decorator==4.0.11
defer==1.0.6
defusedxml==0.4.1
demjson==2.2.4
dicttoxml==1.7.4
dirspec==13.10
discovery==0.0.4
distlib==0.2.2
Django==1.11.2
django-autoslug==1.9.3
django-bulk-update==1.1.10
django-celery==3.1.17
django-concurrency==1.2
django-cors-headers==2.1.0
django-cors-middleware==1.3.1
django-crontab==0.7.1
django-db-mutex==0.3.0
django-debug-toolbar==1.4
django-extensions==1.6.7
django-fields==0.3.0
django-gfklookupwidget==1.0.5
django-ios-notifications==0.2.0
django-multiselectfield==0.1.7
django-mysql==2.1.0
django-ses==0.7.1
django-sortedm2m==1.3.3
django-sqs==0.2
django-storages==1.4.1
dm.xmlsec.binding==1.3.2
dnspython==1.12.0
docutils==0.13.1
duplicity==0.7.6
elasticsearch==2.3.0
entrypoints==0.2.3
enum34==1.1.6
epydoc==3.0.1
et-xmlfile==1.0.1
f.lux-indicator-applet==1.1.11rc0
Fabric==1.13.2
Faker==0.7.17
Flask==0.12.2
Flask-AutoIndex==0.6
Flask-Cache==0.13.1
Flask-DebugToolbar==0.10.1
flask-mongoengine==0.9.3
Flask-Sijax==0.4.1
Flask-Silk==0.2
Flask-WTF==0.14.2
folium==0.3.0
functools32==3.2.3.post2
future==0.16.0
futures==3.1.1
geopy==1.11.0
get==0.0.11
google-api-python-client==1.5.5
goulash==0.67
html5lib==0.999999999
httplib2==0.10.3
humanize==0.5.1
idna==2.1
Importing==1.10
ipaddress==1.0.16
ipdb==0.10.3
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==6.0.0
iso8601==0.1.11
isodate==0.5.4
itsdangerous==0.24
jdcal==1.3
Jinja2==2.9.6
jmespath==0.9.3
jsonfield==1.0.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
kinesis-producer==0.2.1
kombu==4.0.2
livereload==2.5.1
lockfile==0.12.2
lxml==3.6.4
Markdown==2.6.8
MarkupSafe==1.0
matplotlib==2.0.2
messengerbot==0.1.4
mistune==0.7.4
mkdocs==0.16.3
mongoengine==0.13.0
MySQL-python==1.2.5
mysqlclient==1.3.10
nbconvert==5.2.1
nbformat==4.3.0
ndg-httpsclient==0.4.0
notebook==5.0.0
numpy==1.13.0
oauth2client==4.0.0
oauthlib==2.0.2
oneconf==0.3.9
openpyxl==2.2.5
ordered-set==2.0.2
PAM==0.4.2
pandas==0.17.1
pandocfilters==1.4.1
paramiko==2.1.2
pathlib2==2.3.0
patsy==0.4.1
pbr==3.1.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==2.9.0
piston-mini-client==0.7.5
polyline==1.3.2
post==0.0.8
prompt-toolkit==1.0.14
psycopg2==2.6.1
ptyprocess==0.5.2
public==0.0.34
pyasn1==0.1.9
pyasn1-modules==0.0.9
pyBarcode==0.7
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.73
pygeoip==0.3.2
Pygments==2.2.0
pygobject==3.20.0
PyJWT==1.5.0
PyLaTeX==1.1.1
pymongo==3.4.0
pyOpenSSL==16.0.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyserial==3.0.1
pysftp==0.2.9
pysmbc==1.0.15.5
pystan==2.16.0.0
python-apt==1.1.0b1
python-dateutil==2.5.3
python-debian==0.1.27
python-geoip==1.2
python-geoip-geolite2==2015.303
python-ldap==2.4.27
python-openid==2.2.5
python-saml==2.2.0
python-social-auth==0.2.21
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
query-string==0.0.8
raven==5.19.0
redis==2.10.5
reporting==0.33
reportlab==3.3.0
request==0.0.8
requests==2.10.0
requests-aws4auth==0.9
requests-oauthlib==0.8.0
rsa==3.4.2
scandir==1.5
scikit-learn==0.19.0
scipy==0.19.1
seaborn==0.8
service-identity==16.0.0
Sijax==0.3.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
software-center-aptd-plugins==0.0.0
sqlparse==0.1.19
statsmodels==0.8.0
stevedore==1.23.0
sublime==0.1.0
subprocess32==3.2.7
terminado==0.6
testpath==0.3.1
tornado==4.5.1
traitlets==4.3.2
Twisted==16.0.0
ubuntuone-client-data==14.4
unity-lens-photos==1.0
uritemplate==3.0.0
urllib3==1.16
utm==0.4.2
vboxapi==1.0
vine==1.1.3
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==2.0.0
WTForms==2.1
xgboost==0.6a2
xlrd==0.9.3
XlsxWriter==0.9.3
xlwt==1.0.0
youtube-dl==2016.2.22
zope.interface==4.1.3
